{% extends 'app1/base.html' %}

{% block body %}

<div class="page-content">
    <div class="card radius-15 h-20">
        <div class="row">
            <div class="col-md-12">
                <center><h2 class="mt-3">INACTIVE PRICE LISTS</h2></center>
                
                <hr style="width:95%">
            </div>
        </div>
    </div>
   
   
<div class="card radius-15">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col-md-5">
                <div class="search-bar">
                    <div class="input-group">
                        <div class="input-group-prepend search-arrow-back">
                            <button class="btn btn-search-back" type="button"><i class="bx bx-arrow-back"></i></button>
                        </div>
                        <!-- <input type="text" autocomplete="off" id="searchInput" onkeyup="filter(this);" onclick="myFunction1()" class="form-control" placeholder="search" />
                        <div class="input-group-append">
                            <button class="btn btn-search" type="button"><i class="lni lni-search-alt"></i></button>
                        </div> -->
                        <div class=" mt-5" id="myDIV" style="z-index:1;position:absolute; 
                              background-color: #213b52;width:400px;height:1px;">
                              
                                 <ul id="searchList" class="one radius-15" style="background-color: #213b52;">
                                    {% for a in items %}
                                    <a href="view_item/{{ a.id }}"><li>{{ a.name }}</li></a>
                                    {% endfor %}
                             
                                 </ul>
                                 </div>
                
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" id="search" placeholder="Search..." class="form-control" autocomplete="off" 
                                style="margin-top: 8px; background-color: #2f516f;color: white;">
        
                            </div> 
                            <div class="col-md-2" style="width: 40%; margin-top: 9px;">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-outline-info dropdown-toggle text-grey"
                                            data-toggle="dropdown"> Sort by
                                    </button>
                                    <div class="dropdown-menu " style="background-color: black;">
                                        <a class="dropdown-item	" href="{% url 'pricelist' %}"
                                        style="height: 40px; font-size: 15px; color: white; text-align: center;" > All
                                        <!-- <icon class=" fas fa-arrow-down"></icon> -->
                                   </a>
                                    <a class="dropdown-item	" href="{% url 'sortemployeename2' %}"
                                        style="height: 40px; font-size: 15px; color: white; text-align: center;" > Name
                                        <!-- <icon class=" fas fa-arrow-down"></icon> -->
                                   </a>
                                     <!-- <a class="dropdown-item  " href="{% url 'est_num_desc' %}"
                                        style="height: 40px; font-size: 15px; color: white; text-align: center;" >Estimate Number <icon class=" fas fa-arrow-up"></icon></a> -->
    
                                    <a class="dropdown-item " href="{% url 'sort_by_types' %}"
                                        style="height: 40px; font-size: 15px; color: white; text-align: center; " >Type</a>
                                    <!-- <a class="dropdown-item " href="{% url 'est_date_desc' %}"
                                        style="height: 40px; font-size: 15px; color: white; text-align: center;" >Date <icon class=" fas fa-arrow-up"></icon></a> -->
    
                                    
                                            
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                    
                    <div class="col">
                        
                    
                      <div class="dropdown">
                        <button type="button" class="btn btn-outline-info dropdown-toggle text-grey"
                                data-toggle="dropdown">filter by
                        </button>
                        <div class="dropdown-menu" style="background-color: black;">
                            <a class="dropdown-item" href="{% url 'pricelist' %}"
                               style="height: 40px; font-size: 15px; color: white;" >All</a>
                            <a class="dropdown-item" href="{% url 'plactive' %}"
                               style="height: 40px; font-size: 15px; color: white;">Active</a>
                            <a class="dropdown-item" href="{% url 'plinactive' %}"
                               style="height: 40px; font-size: 15px; color: white;">Inactive</a>
                            
                        </div>
                      </div> 
                    </div>
                 
                  
                    <div class="col">
                            <div class="dropdown">
                                <a href="{% url 'new_price_list' %}">     <button type="button" class="btn btn-outline-info  text-grey"
                                        >+ Price List
                                </button></a>
                               
                            </div>
                    </div>

                </div>
                </div>
            </div>
            <div class="table-responsive">
                
                    <table class="table table-responsive-md mt-4 table-hover" id="tabletobe">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>DESCRIPTION</th>
                                <th>TYPE</th>
                                <th>ITEM RATE</th>
                                <th>ROUNDING</th>
                                <th>STATUS</th>
                                <th>DETAILS</th>
                       
                            </tr>
                        </thead>
                        <tbody>
                            {% for emp in employee %}
                                
                                    <tr  class="table-row " >
                                        <td ><a class="idsr" style="list-style: none;"  href="{% url 'pricelist_viewpage'  emp.id  %}"> {{ emp.name }}</a></td>

                                        <!-- <div  data-toggle="tooltip" data-placement="top" title="{{ a.notes }}">
                                            <i class="fa fa-commenting" aria-hidden="true"></i>

                                        </div> -->

                                        <td>
                                            <a class="idsr" style="list-style: none;" data-toggle="tooltip" data-placement="top" href="{% url 'pricelist_viewpage' emp.id %}" title="{{ emp.description }}">
                                              <i class="fa fa-commenting" aria-hidden="true"></i>
                                            </a>
                                          </td>
                                          
                                        <th><a class="idsr" style="list-style: none;"  href="{% url 'pricelist_viewpage'  emp.id  %}"> {{ emp.types }}</a></th>
                                        <th>
                                            <a class="idsr" style="list-style: none;"  href="{% url 'pricelist_viewpage'  emp.id  %}">
                                                {% if emp.item_rate == "Customized individual rate" %}
                                                    Customized individual rate
                                                {% elif emp.upordown == "Markup" %}
                                                    Markup the item rates by a percentage
                                                {% elif emp.upordown == "Markdown" %}
                                                    Markdown the item rates by a percentage
                                                
                                                {% else %}
                                                    {{ emp.item_rate }}
                                                {% endif %}
                                            </a>
                                        </th>
                                        <td>
                                            {% if emp.item_rate == "Customized individual rate" %}
                                                - - - - -
                                            {% elif emp.upordown == "Markup" or emp.upordown == "Markdown" %}
                                                {{ emp.roundoffto }}
                                            {% else %}
                                                {{ emp.item_rate }}
                                            {% endif %}
                                        </td>
                                        
                                        

                                        {% if emp.is_active %}
                                        <td>Active</td>
                                        {% else %}
                                        <td>Inactive</td>
                                        {% endif %}
                                        
                                        {% if emp.item_rate == "Customized individual rate" %}
                                        <td><a class="idsr" style="list-style: none;"  href="{% url 'pricelist_viewpage'  emp.id  %}"></a>Per Item Rate</a></td>
                                        {% else %}
                                        <td> <a class="idsr" style="list-style: none;"  href="{% url 'pricelist_viewpage'  emp.id  %}">{{emp.percentage}}%   {{emp.upordown}}</a></td>
                                        {% endif %}
                                        
                                        
                                        
                                    </tr>
                           
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script> -->
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script>

    $(document).ready(function(){
      $("#searchList li").hide();
    
      $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        if (value !== '' ) {
        $("#searchList li").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });   
        } else {
          $("#searchList li").hide();   
        }    
      });
    });
    
       
       
     </script>

     <script>
        function namefilter() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("namefilt");
            filter = input.value.toUpperCase();
            table = document.getElementById("tabletobe");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

{% endblock %}